In [33]:
# Import modules

import numpy as np
import tensorflow as tf
from tensorflow import keras
from recsys_utils import *
from collections import Counter
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

# Import our data

In [34]:
# Import questions features

file_path1 = 'df_question_features.csv'
df_question_features = pd.read_csv(file_path1)
df_question_features.drop('Unnamed: 0', axis=1, inplace=True)
df_question_features

,%Incorrect,Heart of Algebra,Passport to Advanced Math,Problem Solving and Data Analysis,Additional Topics,MC,SA
0,0.337851,1,0,0,0,1,0
1,0.483508,1,0,0,0,1,0
2,0.549151,1,0,0,0,1,0
3,0.509471,0,1,0,0,1,0
4,0.605813,1,0,0,0,1,0
...,...,...,...,...,...,...,...
633,0.483721,0,1,0,0,0,1
634,0.037209,1,0,0,0,0,1
635,0.283721,0,0,0,1,0,1
636,0.479070,0,1,0,0,0,1
637,0.502326,0,1,0,0,0,1

In [35]:
# Import student features

file_path1 = 'df_student_features.csv'
file_path2 = 'df_Y.csv'
df_student_features = pd.read_csv(file_path1) #(rows=students, columns=performance metric) 
df_YY = pd.read_csv(file_path2) #(rows=question, columns=student) Student answers for each question, NaN for unanswared questions

In [36]:
df_YY

,Student_ID_0,Student_ID_1,Student_ID_2,Student_ID_3,Student_ID_4,Student_ID_5,Student_ID_6,Student_ID_7,Student_ID_8,Student_ID_9,...,Student_ID_10079,Student_ID_10080,Student_ID_10081,Student_ID_10082,Student_ID_10083,Student_ID_10084,Student_ID_10085,Student_ID_10086,Student_ID_10087,Student_ID_10088
0,0.0,0.0,1.0,NaN,1.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,1.0,NaN,0.0
1,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,1.0,1.0,NaN,1.0
2,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,0.0,1.0,NaN,0.0
3,0.0,1.0,1.0,NaN,1.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0
4,1.0,1.0,1.0,NaN,1.0,0.0,0.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,1.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df_student_features

,Level 1,Level 2,Level 3,Level 4,Level 5,Word Problems,Multiple-Choice,Grid-In,One-Variable Linear Equations,Linear Functions,...,Equivalent Expressions,One-Variable Nonlinear Equations and Two-Variable Systems,Nonlinear Functions,Area and Volume,"Lines, Angles, and Triangles",Right Triangles and Trigonometry,Circles,Complex Numbers,Math_Score,English_Score
0,60.000000,65.333333,52.333333,38.0,5.666667,43.666667,55.333333,17.666667,72.333333,55.666667,...,56.666667,36.0,26.000000,6.666667,75.000000,50.0,16.666667,33.333333,493.333333,650.000000
1,62.200000,52.200000,29.200000,15.6,14.800000,31.600000,38.400000,12.400000,63.200000,63.400000,...,33.000000,34.6,25.400000,20.000000,33.333333,20.0,10.000000,40.000000,408.000000,550.000000
2,64.333333,57.333333,48.000000,25.0,14.333333,37.000000,44.333333,33.333333,27.666667,100.000000,...,65.000000,26.0,32.666667,0.000000,0.000000,50.0,16.666667,33.333333,463.333333,546.666667
3,90.000000,74.200000,55.000000,53.4,25.400000,52.600000,66.800000,27.800000,83.400000,37.500000,...,80.000000,57.0,58.600000,42.000000,50.000000,80.0,10.000000,20.000000,556.000000,702.000000
4,66.000000,58.400000,49.800000,23.0,15.200000,48.800000,52.400000,15.200000,70.200000,66.600000,...,35.000000,31.2,33.800000,4.000000,50.000000,30.0,10.000000,0.000000,476.000000,648.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10084,100.000000,63.000000,46.000000,25.0,57.000000,46.000000,51.000000,31.000000,50.000000,100.000000,...,60.000000,40.0,20.000000,40.000000,NaN,0.0,50.000000,100.000000,490.000000,540.000000
10085,80.000000,85.000000,54.000000,36.0,0.000000,52.000000,62.000000,31.000000,100.000000,100.000000,...,50.000000,38.0,25.000000,0.000000,100.000000,100.0,0.000000,0.000000,540.000000,600.000000
10086,60.000000,15.000000,25.000000,0.0,0.000000,28.000000,24.000000,0.000000,0.000000,33.000000,...,0.000000,13.0,50.000000,0.000000,0.000000,50.0,0.000000,0.000000,330.000000,410.000000
10087,33.000000,63.000000,29.000000,38.0,14.000000,42.000000,42.000000,8.000000,50.000000,100.000000,...,20.000000,20.0,0.000000,40.000000,NaN,50.0,0.000000,0.000000,420.000000,590.000000
10088,40.000000,38.000000,29.000000,0.0,0.000000,28.000000,31.000000,0.000000,50.000000,33.000000,...,50.000000,13.0,25.000000,0.000000,0.000000,0.0,0.000000,0.000000,360.000000,400.000000

# Data Pre-roccessing

In [38]:
df_Y = df_YY.fillna(2) # Fill in N/A values with 2 (this number is abritrary
df_R = df_YY.notna().astype(int) # Fill in

In [39]:
df_student_features = df_student_features.fillna(-1) # Fill in N/A values with -1

In [40]:
scaler_q = MinMaxScaler()
scaler_y = MinMaxScaler()
scaler_s = MinMaxScaler()


student_features = df_student_features.values
question_features = df_question_features.values


student_features_scaled = scaler_s.fit_transform(student_features)
question_features_scaled = scaler_q.fit_transform(question_features)


#Load data
Y = df_Y.values
R = df_R.values


X1 = student_features_scaled
X2 = question_features_scaled


num_student_features = X1.shape[1]
num_question_features = X2.shape[1]
num_questions = X2.shape[0]
num_students = Y.shape[1]


print("Y", Y.shape, "R", R.shape)
print("X1", X1.shape)
print("X2", X2.shape)


print("num_student_features:", num_student_features)
print("num_question_features:", num_question_features)
print("num_questions:",   num_questions)
print("num_students:",    num_students)

Y (638, 10089) R (638, 10089)
X1 (10089, 30)
X2 (638, 7)
num_student_features: 30
num_question_features: 7
num_questions: 638
num_students: 10089

In [41]:
Y[:,0]

array([0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 0.,
       1., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0.,
       0., 1., 0., 1., 1., 0., 0., 0., 0., 1., 1., 1., 1., 0., 0., 1., 1.,
       1., 1., 1., 0., 1., 0., 0., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 0., 1., 0., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0.,
       1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0., 1., 0., 1., 1., 1.,
       1., 0., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 0., 0., 0.,
       1., 0., 0., 0., 0., 1., 1., 0., 0., 1., 1., 1., 1., 1., 0., 0., 0.,
       1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 1., 1., 0., 0., 1., 1., 1., 0., 1., 0., 0., 1., 1., 1., 1.,
       1., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2., 2.,
       2., 2., 2., 2., 2., 2., 2., 2., 2.])

In [42]:
R[:,0]

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

# Lets build our model

In [43]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Define function for changing model parameters quickly
def initialize_neural_network(input_shape, num_layers, num_units, output_dim):
    model = Sequential()
    
    # Input layer
    model.add(Dense(num_units, input_shape=input_shape, activation='relu'))
    
    # Hidden layers
    for _ in range(num_layers - 1):
        model.add(Dense(num_units, activation='relu'))
    
    # Output layer
    model.add(Dense(output_dim, activation='linear'))  # Linear activation so that we can have negative outputs

    return model



# Assuming you want 3 hidden layers with 100 units each and an output dimension of 100
num_layers = 3
num_units = 20
output_dim = 150

# Initialize models
# The output dimension of out two models will have to be the same so that we can take a dot product of the two in the loss step
model_student_features = initialize_neural_network((num_student_features,), num_layers, num_units, output_dim)
model_question_features = initialize_neural_network((num_question_features,), num_layers, num_units, output_dim)

In [44]:
# Define Loss
# Loss will take the output from our model and perform a dot product operation on the two output vectors
def custom_loss(X_1, X_2, Y, R, model_1, model_2):
    
    output_1 = model_1(X_1)

    output_2 = model_2(X_2)
    
    output_1_transposed = tf.transpose(output_1) # To allow for matrix multiplication
    
    result = tf.matmul(output_2, output_1_transposed)
    
    cross_entropy = tf.nn.sigmoid_cross_entropy_with_logits(labels=Y, logits=result) # Sigmoid Binary crossentropy loss function

    # Take the transpose of the result
    masked_cross_entropy = cross_entropy * R  # Apply mask R

    J = tf.reduce_sum(masked_cross_entropy)        

    return J

In [45]:
# Cast our data as tensors

Y = tf.cast(Y, dtype=tf.float32)
R = tf.cast(R, dtype=tf.float32)
X1 = tf.cast(X1, dtype=tf.float32)
X2 = tf.cast(X2, dtype=tf.float32)

In [46]:
# Initialize Hyperparameters
iterations = 350
learning_rate = 0.0005
lambda_ = 1
beta1 = 0.9
beta2 = 0.999
epsilon = 1e-7

# Instantiate an optimizer.
optimizer1 = tf.keras.optimizers.Adam(learning_rate=learning_rate, beta_1=beta1, beta_2=beta2, epsilon=epsilon)
optimizer2 = tf.keras.optimizers.Adam(learning_rate=learning_rate, beta_1=beta1, beta_2=beta2, epsilon=epsilon )


for iter in range(iterations):
    # Use TensorFlowâ€™s GradientTape
    # Compute and apply Gradients for each model seperately
    
    with tf.GradientTape() as tape:
        # Compute the cost (forward pass included in cost)
        cost_value = custom_loss(X1, X2, Y, R, model_student_features, model_question_features) # compute cost
    grads1 = tape.gradient(cost_value, model_student_features.trainable_variables) # Calculate gradients
    optimizer1.apply_gradients(zip(grads1, model_student_features.trainable_variables)) # Apply gradients
    
    del tape # delete tape to insure not interference
    
    with tf.GradientTape() as tape2:
        cost_value = custom_loss(X1, X2, Y, R, model_student_features, model_question_features)
    grads2 = tape2.gradient(cost_value, model_question_features.trainable_variables)
    optimizer2.apply_gradients(zip(grads2, model_question_features.trainable_variables))

    
    # Log periodically.
    if iter % 1 == 0:
        print(f"Training loss at iteration {iter}: {cost_value:0.1f}")

Training loss at iteration 0: 839804.4
Training loss at iteration 1: 833110.9
Training loss at iteration 2: 826942.5
Training loss at iteration 3: 821165.0
Training loss at iteration 4: 815659.2
Training loss at iteration 5: 810337.4
Training loss at iteration 6: 805144.6
Training loss at iteration 7: 800060.1
Training loss at iteration 8: 795085.1
Training loss at iteration 9: 790235.7
Training loss at iteration 10: 785538.3
Training loss at iteration 11: 781036.2
Training loss at iteration 12: 776786.6
Training loss at iteration 13: 772847.8
Training loss at iteration 14: 769286.9
Training loss at iteration 15: 766169.4
Training loss at iteration 16: 763541.4
Training loss at iteration 17: 761419.5
Training loss at iteration 18: 759785.3
Training loss at iteration 19: 758578.1
Training loss at iteration 20: 757692.6
Training loss at iteration 21: 756987.4
Training loss at iteration 22: 756313.9
Training loss at iteration 23: 755540.6
Training loss at iteration 24: 754572.2
Training loss at iteration 25: 753371.2
Training loss at iteration 26: 751943.2
Training loss at iteration 27: 750325.8
Training loss at iteration 28: 748575.8
Training loss at iteration 29: 746767.6
Training loss at iteration 30: 744966.7
Training loss at iteration 31: 743222.4
Training loss at iteration 32: 741564.1
Training loss at iteration 33: 740007.8
Training loss at iteration 34: 738547.0
Training loss at iteration 35: 737161.5
Training loss at iteration 36: 735815.9
Training loss at iteration 37: 734476.1
Training loss at iteration 38: 733107.8
Training loss at iteration 39: 731681.1
Training loss at iteration 40: 730160.9
Training loss at iteration 41: 728536.6
Training loss at iteration 42: 726805.8
Training loss at iteration 43: 724975.9
Training loss at iteration 44: 723081.3
Training loss at iteration 45: 721138.9
Training loss at iteration 46: 719181.6
Training loss at iteration 47: 717201.2
Training loss at iteration 48: 715198.8
Training loss at iteration 49: 713178.7
Training loss at iteration 50: 711136.0
Training loss at iteration 51: 709068.1
Training loss at iteration 52: 706981.9
Training loss at iteration 53: 704898.7
Training loss at iteration 54: 702830.9
Training loss at iteration 55: 700798.7
Training loss at iteration 56: 698806.1
Training loss at iteration 57: 696844.4
Training loss at iteration 58: 694879.1
Training loss at iteration 59: 692890.7
Training loss at iteration 60: 690884.8
Training loss at iteration 61: 688896.2
Training loss at iteration 62: 686938.6
Training loss at iteration 63: 684995.8
Training loss at iteration 64: 683054.2
Training loss at iteration 65: 681108.1
Training loss at iteration 66: 679138.4
Training loss at iteration 67: 677173.6
Training loss at iteration 68: 675219.6
Training loss at iteration 69: 673253.6
Training loss at iteration 70: 671266.9
Training loss at iteration 71: 669243.6
Training loss at iteration 72: 667201.4
Training loss at iteration 73: 665156.2
Training loss at iteration 74: 663098.6
Training loss at iteration 75: 661015.7
Training loss at iteration 76: 658909.1
Training loss at iteration 77: 656781.0
Training loss at iteration 78: 654638.9
Training loss at iteration 79: 652484.6
Training loss at iteration 80: 650336.8
Training loss at iteration 81: 648192.5
Training loss at iteration 82: 646018.4
Training loss at iteration 83: 643817.5
Training loss at iteration 84: 641651.5
Training loss at iteration 85: 639498.9
Training loss at iteration 86: 637345.6
Training loss at iteration 87: 635200.7
Training loss at iteration 88: 633102.8
Training loss at iteration 89: 631048.6
Training loss at iteration 90: 629040.6
Training loss at iteration 91: 627079.2
Training loss at iteration 92: 625182.8
Training loss at iteration 93: 623365.4
Training loss at iteration 94: 621599.3
Training loss at iteration 95: 619909.6
Training loss at iteration 96: 618299.4
Training loss at iteration 97: 616785.7
Training loss at iteration 98: 615342.0
Training loss at iteration 99: 614006.5
Training loss at iteration 100: 612796.2
Training loss at iteration 101: 611743.8
Training loss at iteration 102: 610890.1
Training loss at iteration 103: 610265.3
Training loss at iteration 104: 609883.1
Training loss at iteration 105: 609679.9
Training loss at iteration 106: 609615.1
Training loss at iteration 107: 609639.1
Training loss at iteration 108: 609661.8
Training loss at iteration 109: 609627.7
Training loss at iteration 110: 609519.6
Training loss at iteration 111: 609625.7
Training loss at iteration 112: 610114.1
Training loss at iteration 113: 611157.4
Training loss at iteration 114: 612576.2
Training loss at iteration 115: 614116.9
Training loss at iteration 116: 615688.9
Training loss at iteration 117: 617307.8
Training loss at iteration 118: 618855.8
Training loss at iteration 119: 620586.3
Training loss at iteration 120: 622706.4
Training loss at iteration 121: 625069.5
Training loss at iteration 122: 627763.2
Training loss at iteration 123: 630818.1
Training loss at iteration 124: 634135.8
Training loss at iteration 125: 637513.1
Training loss at iteration 126: 640862.9
Training loss at iteration 127: 644122.4
Training loss at iteration 128: 647208.0
Training loss at iteration 129: 650023.9
Training loss at iteration 130: 652756.4
Training loss at iteration 131: 655402.7
Training loss at iteration 132: 657977.2
Training loss at iteration 133: 660445.7
Training loss at iteration 134: 662771.9
Training loss at iteration 135: 664914.4
Training loss at iteration 136: 666875.3
Training loss at iteration 137: 668738.4
Training loss at iteration 138: 670533.6
Training loss at iteration 139: 672315.7
Training loss at iteration 140: 674025.0
Training loss at iteration 141: 675554.5
Training loss at iteration 142: 676671.8
Training loss at iteration 143: 677320.2
Training loss at iteration 144: 677574.1
Training loss at iteration 145: 677616.1
Training loss at iteration 146: 677563.7
Training loss at iteration 147: 677691.3
Training loss at iteration 148: 677883.8
Training loss at iteration 149: 677854.8
Training loss at iteration 150: 677392.6
Training loss at iteration 151: 675293.9
Training loss at iteration 152: 672164.9
Training loss at iteration 153: 669175.6
Training loss at iteration 154: 666737.2
Training loss at iteration 155: 664842.1
Training loss at iteration 156: 663453.9
Training loss at iteration 157: 662231.1
Training loss at iteration 158: 660875.3
Training loss at iteration 159: 659338.9
Training loss at iteration 160: 657727.5
Training loss at iteration 161: 656162.1
Training loss at iteration 162: 654740.9
Training loss at iteration 163: 653523.7
Training loss at iteration 164: 652701.9
Training loss at iteration 165: 652397.1
Training loss at iteration 166: 652663.7
Training loss at iteration 167: 653266.8
Training loss at iteration 168: 653950.3
Training loss at iteration 169: 654582.6
Training loss at iteration 170: 655150.2
Training loss at iteration 171: 655775.3
Training loss at iteration 172: 656458.0
Training loss at iteration 173: 657140.8
Training loss at iteration 174: 657655.1
Training loss at iteration 175: 657862.1
Training loss at iteration 176: 657617.3
Training loss at iteration 177: 656915.1
Training loss at iteration 178: 655867.4
Training loss at iteration 179: 654617.4
Training loss at iteration 180: 653267.1
Training loss at iteration 181: 651853.1
Training loss at iteration 182: 650386.4
Training loss at iteration 183: 648845.1
Training loss at iteration 184: 647205.3
Training loss at iteration 185: 645506.9
Training loss at iteration 186: 643795.6
Training loss at iteration 187: 642120.2
Training loss at iteration 188: 640515.6
Training loss at iteration 189: 638946.2
Training loss at iteration 190: 637396.2
Training loss at iteration 191: 635863.1
Training loss at iteration 192: 634362.6
Training loss at iteration 193: 632930.9
Training loss at iteration 194: 631594.6
Training loss at iteration 195: 630366.2
Training loss at iteration 196: 629265.5
Training loss at iteration 197: 628316.8
Training loss at iteration 198: 627503.8
Training loss at iteration 199: 626819.8
Training loss at iteration 200: 626249.1
Training loss at iteration 201: 625760.8
Training loss at iteration 202: 625339.2

Training loss at iteration 203: 624994.1
Training loss at iteration 204: 624736.8
Training loss at iteration 205: 624570.0
Training loss at iteration 206: 624501.8
Training loss at iteration 207: 624555.7
Training loss at iteration 208: 624725.1
Training loss at iteration 209: 624973.6
Training loss at iteration 210: 625256.6
Training loss at iteration 211: 625524.9
Training loss at iteration 212: 625765.1
Training loss at iteration 213: 625958.6
Training loss at iteration 214: 626097.3
Training loss at iteration 215: 626169.5
Training loss at iteration 216: 626190.4
Training loss at iteration 217: 626173.1
Training loss at iteration 218: 626140.4
Training loss at iteration 219: 626112.1
Training loss at iteration 220: 626107.7
Training loss at iteration 221: 626132.1
Training loss at iteration 222: 626184.1
Training loss at iteration 223: 626273.8
Training loss at iteration 224: 626421.1
Training loss at iteration 225: 626643.8
Training loss at iteration 226: 626977.4
Training loss at iteration 227: 627422.9
Training loss at iteration 228: 627957.2
Training loss at iteration 229: 628570.0
Training loss at iteration 230: 629235.2
Training loss at iteration 231: 629912.4
Training loss at iteration 232: 630597.9
Training loss at iteration 233: 631268.9
Training loss at iteration 234: 631906.8
Training loss at iteration 235: 632497.1
Training loss at iteration 236: 633025.9
Training loss at iteration 237: 633501.8
Training loss at iteration 238: 633944.8
Training loss at iteration 239: 634368.9
Training loss at iteration 240: 634770.5
Training loss at iteration 241: 635158.0
Training loss at iteration 242: 635521.8
Training loss at iteration 243: 635856.9
Training loss at iteration 244: 636149.8
Training loss at iteration 245: 636389.2
Training loss at iteration 246: 636561.3
Training loss at iteration 247: 636657.8
Training loss at iteration 248: 636685.9
Training loss at iteration 249: 636670.0
Training loss at iteration 250: 636644.4
Training loss at iteration 251: 636618.1
Training loss at iteration 252: 636611.6
Training loss at iteration 253: 636628.1
Training loss at iteration 254: 636653.5
Training loss at iteration 255: 636691.3
Training loss at iteration 256: 636719.6
Training loss at iteration 257: 636733.8
Training loss at iteration 258: 636745.1
Training loss at iteration 259: 636643.6
Training loss at iteration 260: 636364.6
Training loss at iteration 261: 635872.6
Training loss at iteration 262: 635224.3
Training loss at iteration 263: 634470.5
Training loss at iteration 264: 633625.5
Training loss at iteration 265: 632691.3
Training loss at iteration 266: 631657.2
Training loss at iteration 267: 630534.6
Training loss at iteration 268: 629360.4
Training loss at iteration 269: 628136.4
Training loss at iteration 270: 626891.2
Training loss at iteration 271: 625626.0
Training loss at iteration 272: 624359.8
Training loss at iteration 273: 623119.8
Training loss at iteration 274: 621937.9
Training loss at iteration 275: 620841.8
Training loss at iteration 276: 619829.7
Training loss at iteration 277: 618905.5
Training loss at iteration 278: 618061.6
Training loss at iteration 279: 617303.2
Training loss at iteration 280: 616615.4
Training loss at iteration 281: 616006.3
Training loss at iteration 282: 615452.0
Training loss at iteration 283: 614951.2
Training loss at iteration 284: 614494.0
Training loss at iteration 285: 614082.1
Training loss at iteration 286: 613724.5
Training loss at iteration 287: 613402.7
Training loss at iteration 288: 613108.6
Training loss at iteration 289: 612822.6
Training loss at iteration 290: 612518.7
Training loss at iteration 291: 612173.8
Training loss at iteration 292: 611782.3
Training loss at iteration 293: 611356.8
Training loss at iteration 294: 610919.8
Training loss at iteration 295: 610474.4
Training loss at iteration 296: 610017.6
Training loss at iteration 297: 609545.2
Training loss at iteration 298: 609053.4
Training loss at iteration 299: 608551.9
Training loss at iteration 300: 608044.7
Training loss at iteration 301: 607543.4
Training loss at iteration 302: 607035.7
Training loss at iteration 303: 606520.6
Training loss at iteration 304: 606008.0
Training loss at iteration 305: 605500.2
Training loss at iteration 306: 605004.2
Training loss at iteration 307: 604513.6
Training loss at iteration 308: 604029.1
Training loss at iteration 309: 603550.5
Training loss at iteration 310: 603076.5
Training loss at iteration 311: 602610.5
Training loss at iteration 312: 602154.8
Training loss at iteration 313: 601708.4
Training loss at iteration 314: 601278.7
Training loss at iteration 315: 600864.4
Training loss at iteration 316: 600473.8
Training loss at iteration 317: 600111.8
Training loss at iteration 318: 599772.7
Training loss at iteration 319: 599456.7
Training loss at iteration 320: 599165.0
Training loss at iteration 321: 598913.3
Training loss at iteration 322: 598728.8
Training loss at iteration 323: 598600.8
Training loss at iteration 324: 598552.9
Training loss at iteration 325: 598598.4
Training loss at iteration 326: 598773.9
Training loss at iteration 327: 599105.9
Training loss at iteration 328: 599626.2
Training loss at iteration 329: 600330.8
Training loss at iteration 330: 601219.4
Training loss at iteration 331: 602333.2
Training loss at iteration 332: 603614.5
Training loss at iteration 333: 605075.9
Training loss at iteration 334: 606623.4
Training loss at iteration 335: 608252.8
Training loss at iteration 336: 609929.9
Training loss at iteration 337: 611683.2
Training loss at iteration 338: 613521.1
Training loss at iteration 339: 615448.5
Training loss at iteration 340: 617400.6
Training loss at iteration 341: 619427.9
Training loss at iteration 342: 621475.3
Training loss at iteration 343: 623177.8
Training loss at iteration 344: 624207.9
Training loss at iteration 345: 624289.3
Training loss at iteration 346: 623608.6
Training loss at iteration 347: 622402.2
Training loss at iteration 348: 620952.1
Training loss at iteration 349: 619344.0

# Evaluating model performance

In [56]:
output_1 = model_student_features(X1)
output_2 = model_question_features(X2)
output_1_transposed = tf.transpose(output_1)
result = tf.matmul(output_2, output_1_transposed)
predict = tf.nn.sigmoid(result)

# Set a threshold value
threshold = 0.5

# Apply the threshold to convert values to 0 or 1
binary_array = np.where(predict >= threshold, 1, 0)

# Create a DataFrame from the binary array
df_binary = pd.DataFrame(binary_array)

# Set the index and columns of df_Y to match df_binary
df_Y.index = df_binary.index
df_Y.columns = df_binary.columns

# Count the number of matches
matches = (df_binary == df_Y).sum().sum()

excluded_count = (df_Y == 2).sum().sum()

p = matches/((num_questions*num_students) - excluded_count)

# Display the number of matches
print("Number of matches:", matches)
print("Accuracy:", p)

Number of matches: 907202
Accuracy: 0.7481424304349475

# Making Reccomendations

<a name="5.3"></a>
### 5.3 - Finding Similar Items
The neural network above produces two feature vectors, a student feature vector , and a question feature vector. The dimensions of each vector are difficult to interpret. However, if students have perform simmilary they will have similar vectors, likewise if questions have a similar level of difficulty, they will also have similar vectors. This information can be used to make recommendations. 

A similarity measure is the squared distance between the two vectors $ \mathbf{v_m^{(k)}}$ and $\mathbf{v_m^{(i)}}$ :
$$\left\Vert \mathbf{v_m^{(k)}} - \mathbf{v_m^{(i)}}  \right\Vert^2 = \sum_{l=1}^{n}(v_{m_l}^{(k)} - v_{m_l}^{(i)})^2\tag{1}$$

In [59]:
def sq_dist(a,b):
    """
    Returns the squared distance between two vectors
    Args:
      a (ndarray (n,)): vector with n features
      b (ndarray (n,)): vector with n features
    Returns:
      d (float) : distance
    """     
    d = np.sum(np.square(a - b))

    return d

In [167]:
def create_dist_matrix(output):
    
    output2 = np.array(output_2)
    dist_matrix = np.zeros((output2.shape[0],output2.shape[0]))
    for i in range(output2.shape[0]):
        for j in range(output2.shape[0]):
            distance = sq_dist(output2[i,:],output2[j,:])
            dist_matrix[i,j] = distance
            
    return dist_matrix

student_similarity_matrix = create_dist_matrix(output_1)
question_similarity_matrix = create_dist_matrix(output_2)

In [164]:
def find_similarities(similarity_matrix,id_):
    
    if similarity_matrix.shape[0] == 638:
        column = f'Question_{id_}'
    else:
        column = f'Student_{id_}'
    dfs = pd.DataFrame(similarity_matrix[:,id_], columns=[column])
    dfs.index = range(1, len(dfs) + 1)
    dfs = dfs.sort_values(by=[column], ascending=True)
    
    return dfs

In [168]:
student_similaritites = find_similarities(student_similarity_matrix,5)
question_similaritites = find_similarities(question_similarity_matrix,90)

In [169]:
student_similaritites

       Question_5
6    0.000000e+00
469  2.389278e-07
481  1.327307e-05
127  2.113110e-05
351  6.839908e-05
..            ...
173  1.935230e+00
170  1.964635e+00
289  2.076416e+00
232  2.238847e+00
174  2.356166e+00

[638 rows x 1 columns]

In [171]:
question_similaritites

     Question_90
91      0.000000
47      0.000030
218     0.000588
264     0.000839
159     0.000873
..           ...
625     2.133002
436     2.133998
379     2.169678
441     2.293292
384     2.303682

[638 rows x 1 columns]